# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment (if you're using one)
.env/
venv/
ENV/

# macOS system files
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Log files
*.log

# IDE config files (e.g., VS Code, PyCharm)
.vscode/
.idea/
